.full-page {
    height: 100vh;
}
section.main {
    margin: 8px 10px;
}
.toolbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}