<mat-drawer-container class="full-page" autosize>

    <mat-drawer #drawer mode="side" class="navigation-drawer">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/']">Intro/Admin</a>
            <mat-divider></mat-divider>
            <mat-list-item>Rooms List</mat-list-item>
            <a mat-list-item [routerLink]="['/rooms', room.mqttPath]"
                *ngFor="let room of rooms | async">{{room.name}}</a>
            <mat-divider></mat-divider>
        </mat-nav-list>
        <section>
            <mat-form-field appearance="outline">
                <mat-label>Create a room</mat-label>
                <input type="text" matInput placeholder="Room Name" [(ngModel)]="newRoomName">
                <mat-icon matSuffix>add</mat-icon>
                <mat-hint>New Room Name</mat-hint>
            </mat-form-field>
            <button (click)="createRoom(newRoomName)" mat-raised-button>Create</button>
        </section>
    </mat-drawer>

    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div class="toolbar-header">
                <button type="button" mat-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span *ngIf="room">{{(room | async).name}}</span><span *ngIf="!room">Something</span>
                <button mat-icon-button aria-label="User Page">
                    <mat-icon>account_circle</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <section class="main mat-elevation-z2">
        <router-outlet></router-outlet>
    </section>
</mat-drawer-container>